.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 10vh);
}

.login-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
  text-align: center;
  padding: 2rem;
}

.login-card h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.google-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffff;
}

.google-login-button svg {
  margin-right: 10px;
}
