nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-block: 0.2rem;
  padding-inline: 2rem;
  height: 10vh;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
}

.logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  cursor: pointer;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
}
li a {
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 500;
  color: #333;
}

li a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: #333;
  transition: width 0.5s;
  margin: 1px auto;
}

li a:hover::after {
  width: 100%;
}

.logout-btn {
  background-color: #333;
  color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #000;
}

.menu-icon {
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
  display: none;
}

.nav-links {
  overflow-y: auto;
  max-height: 100vh;
}

.nav-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  background-color: #f9f9f9;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

@media (width <= 768px) {
  .nav-links {
    position: fixed;
    right: 0;
    height: 100vh;
    background-color: #f9f9f9;
    box-shadow: -2px 0 5px rgba(210, 160, 160, 0.1);
    padding: 2rem;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.active {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(0);
  }

  .menu-icon {
    display: block;
  }

  .logout-btn {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
  }

  .logo {
    margin-left: 1rem;
  }
}
@media (width <= 425px) {
  nav {
    padding-inline: 1rem;
  }
}
