.no-orders__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 10vh);
}

.no-orders__container > p {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 1rem;
  text-align: center;
}
